.css-1fs27mr {
    border: 1px solid #DE57E5;
    background: #F8EBFB;
    border-radius: 12px;
    padding: 9px 10px;
    cursor: pointer;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    span {
        margin-left: 12px;
        font-family: 'InterSemiBold', 'NotoSansDevanagariSemiBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        line-height: 18.52px;
        text-align: left;
        color: #4F3267;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .badge {
        background: #EB4F5C;
        color: #FFFFFF;
        font-size: 0.8rem;
        font-family: 'InterBold', 'NotoSansDevanagariBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        border-radius: 22px;
        margin-left: 10px;
        position: absolute;
        bottom: 21px;
        right: 0;
        width: 40px;
        height: 12px;
        font-size: 0.8rem;
        padding: 0px 10px;
    }
}

.css-1xryoxd {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
}

.css-133bxhf {
    position: relative;
    display: inline-block;
    color: #4f3267;
}

.css-16zwby6 {
    width: 14px;
    height: 14px;
    background: #8863fb;
    font-size: 0.8rem;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    bottom: -3px;
    line-height: 14px;
    text-align: center;
    right: -6px;
}